@import '../_mainTheme';

//SEARCH ENGINE
search-engine{
  transition : all 300ms;
  background-color: $lightBackground;
  position :fixed;
    top : 0;
  width : 100%;
  z-index : 10;

  input{
    transition : box-shadow 300ms;
    background-color: rgba($lightBackground,0.2);
    border : none;
    color : black;
    font-size : 20px;
    height : 60px;
    width : 60%;
    padding : 0 20px;
  }

  input:hover, input:focus{
    @include box-shadow(0px, 0px, 10px, 0px, $normalBackground);
  }

  search-category{
    width:60%;
  }
}


//SEARCH RESULT
.resultContent{
  position:relative;
  top:200px;
  z-index:1;

}
search-result{
  width:100%;

  md-content{
    width : 80%;
    height:100px;
    margin : 20px 0;
    padding : 10px;
    background-color: $lightFondColor;

    img.avatar{
      height:100%
    }
  }
}

