<section>
    <form layout="row" layout-align="center center" data-ng-submit="update()" novalidate>
        <fieldset>
            <div>
                <input type="text" data-ng-model="name" required/>
                <input type="Number" data-ng-model="level" required/>
            </div>
            <div>
                <input type="submit" class="btn btn-default"/>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>
