<section>
    <div class="headerCompetency" layout="row">
        <form flex="100" ng-submit="search(filter)">
            <input ng-model="filter.keyword" placeholder="Search">
        </form>
    </div>

    <div class="listCompetency">
        <a data-ng-repeat="competency in competencies" ui-sref="thisCompetency.view({competencyId: competency._id})">

            <div class="cardCompetency" layout="row">
                <img class="iconCompetency" src="{{competency.icon}}"/>
                <div flex="30" class="descriptionCompetency" layout="column">
                    <h2>{{competency.name}}</h2>
                    <p>Level : {{competency.level}}</p>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Logo of schools</h3>
                </div>
            </div>

        </a>
    </div>
</section>
