<div class="page-header">
    <h1>Avatars</h1>
</div>

<section layout="row">
    <div flex="50">
        <!-- Female avatars-->
        <a data-ng-repeat="avatar in avatarsFemale" ui-sref="thisAvatar.view({avatarId : avatar._id})">
            <img  src="{{avatar.link}}"/>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="avatar.created | date:'medium'"></span>
				by
				<span data-ng-bind="avatar.user.displayName"></span>
			</small>
        </a>
    </div>

    <div flex="50">
        <!-- Male avatars-->
        <a data-ng-repeat="avatar in avatarsMale" ui-sref="thisAvatar.view({avatarId : avatar._id})">
            <img  src="{{avatar.link}}"/>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="avatar.created | date:'medium'"></span>
                by
                <span data-ng-bind="avatar.user.displayName"></span>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!avatars.$resolved || avatars.length">
    	No Avatars yet, why don't you <a href="/#!/avatars/create">create one</a>?
    </div>
</section>
