@import '../mainTheme';

profile-page{
  height:100%;
  width:100%;
  background-color: #f1f1f1;  //To be changed by an image

  profile-head{
    position: fixed;
      top:0;
    background-color: rgba($lightMetal,0.5);
    color:$darkMetal;
    height: 100px;
    width: 100%;

    profile-avatar{
      img{
        height : 100px;
      }
    }

  }

  profile-content{
    position: fixed;
      top:120px;
    height:80%;
    width:100%;


    profile-resume{
      position: absolute;
      width:100%;
      height: 100%;

      profile-avatar{
        img{
          height : 80%;
        }
      }

      .profile-competencies{
        height:100%;
        vertical-align: middle;

        ul{
          padding:0;
          list-style:none;

          width:100%;
        }

        li{
          border-top : solid 1px $lightMetal;
          border-bottom : solid 1px $lightMetal;
          height:30px;
          padding-left : 30px;
          //@include linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0));
          font-size:1.3em;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        li:hover{
          cursor:pointer;
          //@include linear-gradient(to right, rgba($mainColor,0.5), rgba($mainColor,0.2), rgba($mainColor,0));
        }
      }

      .profile-competencies-content{
        ul{
          padding:0;
          list-style: none;
          width:100%;
        }
        li{
          background-color: $lightBackground;
          display: block;
          width:80%;
          height : 60px;
          margin:20px auto;
          padding:10px;
          @include border-radius(10px);
          @include box-shadow-inset(0px, 0px, 15px, 0px, white);
        }
      }



      profile-avatar img{
        padding : 10px;
        @include box-shadow(2px, 2px, 7px, 0, $darkBackground);
        margin:20px;
      }
    }

    profile-resume-edit{
      input {
        width : 100%;
        height : 50px;
        border : none;
        background-color: $lightBackground;
        margin-top : 40px;
        font-size : 20px;
        padding : 10px;
        transition: all 0.2s linear;
      }
      input:hover, input:focus {
        transform : scale(1.01);
        @include box-shadow(0, 0, 10px, 5px, $darkBackground);
      }

      svg-icon{
        height : 80px;
        margin-top : 50px;
      }
    }

    profile-games{
      height:80%;
    }
  }

  .profile-footer{
    position: fixed;
      top:calc(100% - 60px);
    background-color: $lightMetal;
    height:60px;
    width:100%;
    opacity : 0.3;

    svg-icon:hover{
      border-top : solid 3px $mainColor;
      @include box-shadow(0px, -5px, 10px, -2px, $mainColor);

    }
  }
}







