.profile-page .profile-header {
  background-color: #787878;
  height: 60px;
  margin-bottom: 20px; }
  .profile-page .profile-header svg-icon:hover {
    border-bottom: solid 3px #11dfb1;
    -webkit-box-shadow: 0px -5px 10px -2px #11dfb1;
    -o-box-shadow: 0px -5px 10px -2px #11dfb1;
    -ms-box-shadow: 0px -5px 10px -2px #11dfb1;
    -moz-box-shadow: 0px -5px 10px -2px #11dfb1;
    box-shadow: 0px -5px 10px -2px #11dfb1; }

.profile-page profile-content profile-resume {
  margin-top: 20px;
  width: 100%; }
  .profile-page profile-content profile-resume profile-avatar img {
    height: 100%; }
  .profile-page profile-content profile-resume .profile-competencies {
    height: 100%;
    vertical-align: middle; }
    .profile-page profile-content profile-resume .profile-competencies ul {
      padding: 0;
      list-style: none;
      width: 90%; }
      .profile-page profile-content profile-resume .profile-competencies ul li {
        padding: 5px;
        cursor: pointer;
        margin: 5px 0 5px 0;
        background-color: #787878; }
  .profile-page profile-content profile-resume .profile-competencies-content {
    background-color: #787878;
    min-height: 70%;
    max-height: 100%; }
  .profile-page profile-content profile-resume profile-avatar img {
    padding: 10px;
    -webkit-box-shadow: 2px 2px 7px 0 #323232;
    -o-box-shadow: 2px 2px 7px 0 #323232;
    -ms-box-shadow: 2px 2px 7px 0 #323232;
    -moz-box-shadow: 2px 2px 7px 0 #323232;
    box-shadow: 2px 2px 7px 0 #323232;
    margin-left: 20px; }

.profile-page profile-content profile-resume-edit input {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #787878;
  margin-top: 40px;
  font-size: 20px;
  padding: 10px;
  transition: all 0.2s linear; }

.profile-page profile-content profile-resume-edit input:hover, .profile-page profile-content profile-resume-edit input:focus {
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px 5px #323232;
  -o-box-shadow: 0 0 10px 5px #323232;
  -ms-box-shadow: 0 0 10px 5px #323232;
  -moz-box-shadow: 0 0 10px 5px #323232;
  box-shadow: 0 0 10px 5px #323232; }

.profile-page profile-content profile-resume-edit svg-icon {
  height: 80px;
  margin-top: 50px; }

.profile-page profile-content profile-games {
  height: 80%; }
