@import '../mainTheme';

.profile-page{

  .profile-header{
    background-color: $lightBackground;
    height:60px;
    margin-bottom : 20px;


    svg-icon:hover{
      border-bottom : solid 3px $mainColor;
      @include box-shadow(0px, -5px, 10px, -2px, $mainColor);

    }
  }

  profile-content{

    profile-resume{
      margin-top : 20px;
      width:100%;

      profile-avatar{
        img{
          height : 100%;
        }
      }

      .profile-competencies{
        height:100%;
        vertical-align: middle;

        ul{
          padding:0;
          list-style:none;
          width:90%;

          li{
            padding : 5px;
            cursor : pointer;
            margin : 5px 0 5px 0;
            background-color: $lightBackground;

          }
        }
      }

      .profile-competencies-content{
        background-color: $lightBackground;
        min-height : 70%;
        max-height : 100%;
      }



      profile-avatar img{
        padding : 10px;
        @include box-shadow(2px, 2px, 7px, 0, $darkBackground);
        margin-left:20px;
      }
    }

    profile-resume-edit{
      .inputProfile {
        width : 100%;
        height : 50px;
        border : none;
        background-color: $lightBackground;
        margin-top : 40px;
        font-size : 20px;
        padding : 10px;
        transition: all 0.2s linear;
      }
      .inputProfile:hover, .inputProfile:focus {
        transform : scale(1.01);
        @include box-shadow(0, 0, 10px, 5px, $darkBackground);
      }

      svg-icon{
        height : 80px;
        margin-top : 50px;
      }
    }

    profile-games{
      height:80%;
    }
  }


}







