<section>
    <div class="headerGame" layout="row">
        <form flex="40" ng-submit="search(filter)">
            <input ng-model="filter.keyword" placeholder="Search">
        </form>
        <svg-icon ng-if="roleAuthorised" icon="'plus'" ui-sref="games.create"></svg-icon>

    </div>

    <div class="listGames">
        <a data-ng-repeat="game in games" ui-sref="thisGame.view({gameId: game._id})">

            <div class="cardGame" layout="row">
                <img class="iconGame" src="{{game.icon}}"/>
                <div flex="30" class="descriptionGame" layout="column">
                    <h2>{{game.name}}</h2>
                    <p>Description</p>
                </div>
                <div>
                    <h3>Logo of schools</h3>
                </div>
            </div>

        </a>
    </div>
</section>
