<section layout="row" layout-align="center center">
    <div flex="100" layout="column">
        <div data-ng-if="contentMode === 'viewMode'" layout="row">
            <profile-avatar flex="15" image="{{user.profile.avatar.link}}"></profile-avatar>

            <div class="profile-competencies" flex="35" layout="column" layout-align="center start">
                <ul>
                    <li>Competence one</li>
                    <li>Competence two</li>
                    <li>Competence three</li>
                    <li>Competence four</li>
                </ul>
            </div>

            <div flex="45" class="profile-competencies-content">
                <h2>{{competencySelected.title}}</h2>
                <p>{{competencySelected.content}}</p>
            </div>
        </div>

        <div layout="row" layout-align="center center">
            <svg-icon flex="20" icon="'competency'" ui-sref="competencies.list"></svg-icon>
        </div>
    </div>

</section>


