<div data-ng-if="contentMode === 'viewMode'" layout="row">
    <profile-avatar flex="30" image="{{user.profileImageURL}}"></profile-avatar>

    <div class="profile-competencies" flex="20" layout="column" layout-align="center start">
        <ul>
            <li competence-name>Competence one</li>
            <li competence-name>Competence two</li>
            <li competence-name>Competence three</li>
            <li competence-name>Competence four</li>
        </ul>
    </div>

    <div flex="50" class="profile-competencies-content" layout="column" layout-align="space-around center">
        <ul>
            <li>Competence example 1</li>
            <li>Competence example 2</li>
        </ul>
    </div>


</div>

