<sidebar-layout ng-switch="showSidebar">

    <sidebar-button ng-if="!isAuthenticated" icon="'locker'" toggler="false" ui-sref="authentication.signin"></sidebar-button>
    <sidebar-button ng-if="isAuthenticated" icon="'profile'" toggler="true"  ng-click="changeSidebar('profile')"></sidebar-button>

    <sidebar-main ng-switch-when="main"></sidebar-main>
    <sidebar-search ng-switch-when="search"></sidebar-search>
    <sidebar-game ng-switch-when="game"></sidebar-game>

    <!--Only if authenticated-->
    <sidebar-profile ng-switch-when="profile" ng-if="isAuthenticated" ></sidebar-profile>
    <sidebar-chat ng-switch-when="chat" ng-if="isAuthenticated" ></sidebar-chat>
</sidebar-layout>

