/*  Smartphone  */
@media (max-width: 600px) {
  #wrapper #sidebar {
    height: 60px;
    width: 100%;
    overflow: hidden;
    z-index: 10; }
    #wrapper #sidebar sidebar-layout {
      display: block;
      height: 60px;
      flex-direction: row;
      align-items: flex-start; }
      #wrapper #sidebar sidebar-layout sidebar-toggler {
        width: 30px;
        height: 60px;
        display: inline-block;
        margin: 0 10px 0 10px; }
      #wrapper #sidebar sidebar-layout sidebar-button {
        display: inline-block;
        width: 60px;
        height: 60px; }
      #wrapper #sidebar sidebar-layout sidebar-button:hover,
      #wrapper #sidebar sidebar-layout sidebar-button.active {
        border-bottom: 3px solid #11dfb1; }
  #wrapper #content-page {
    padding-top: 60px;
    width: 100%; }
  /*Search*/
  sidebar-search .searchInput {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    color: #1e1e1e; }
    sidebar-search .searchInput input {
      display: inline-block;
      position: absolute;
      top: 0;
      height: 100%;
      width: calc(90% - 60px);
      background-color: #323232;
      color: #969696;
      padding: 10px 10px 10px 70px;
      font-size: 20px;
      border: none; }
    sidebar-search .searchInput i {
      display: inline-block;
      position: absolute;
      top: 0;
      width: 60px;
      height: 60px;
      cursor: pointer; } }
