<section>
    <div class="headerSchools" layout="row">
        <form flex="40" ng-submit="search(filter)">
            <input ng-model="filter.keyword" placeholder="Search">
        </form>
        <svg-icon ng-if="roleAuthorised" icon="'plus'" ui-sref="schools.create"></svg-icon>

    </div>

    <div class="listSchools">
        <a data-ng-repeat="school in schools" ui-sref="thisSchool.view({schoolId: school._id})">

            <div class="cardSchool" layout="row">
                <img class="iconSchool" src="{{school.icon}}"/>
                <div flex="30" class="descriptionCompetency" layout="column">
                    <h2>{{school.name}}</h2>
                    <p>Description</p>
                </div>
                <div>
                    <h3>List of competencies</h3>
                </div>
            </div>

        </a>
    </div>
</section>
