<form autocomplete="off" layout="column" layout-align="center center" class="signIn">
    <div class="icon-profile" data-ng-include="'modules/users/icons/profile.html'"></div>
    <input type="text" placeholder="username" name="username" data-ng-model="credentials.username">
    <input type="password" placeholder="password" name="password" class="form-control" data-ng-model="credentials.password">
    <div layout="row" layout-align="center center">
        <sign-up ui-sref="authentication.signup">Sign up</sign-up>
        <btn-validate ng-click="signin()"></btn-validate>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</form>

<!--
    <md-input-container>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
        </md-input-container>
        <md-input-container>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
        </md-input-container>
        <md-button class="md-raised md-primary" data-ng-click="signin()">Sign in</md-button>
                &nbsp; or&nbsp;
        <md-input-container layout="row">
            <md-button ui-sref="authentication.signup">Sign up</md-button>
        </md-input-container>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
    </md-input-container>

-->
